@page
@model QuanLyQuyLop.Pages.KhoanThu.IndexModel
@{
    ViewData["Title"] = "Khoản Thu";
}
<br />

<h2>Danh sách khoản thu</h2>
<a href="KhoanThu/Create">Thêm khoản thu</a>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Khoản Thu</th>
            <th>Số Tiền</th>
            <th>Ngày Tạo</th>
            <th>Hạn Nộp</th>
            <th>Ghi Chú</th>
            <th>Thao tác</th>
        </tr>
    </thead>
