@page
@model QuanLyQuyLop.Pages.KhoanChi.IndexModel
@{
    ViewData["Title"] = "Khoản Chi";
}
<br />

<h2>Danh sách khoản chi</h2>
<a href="KhoanChi/Create">Thêm khoản chi</a>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Khoản Chi</th>
            <th>Số Tiền</th>
            <th>Ngày Chi</th>
            <th>Ghi Chú</th>
            <th>Thao tác</th>
        </tr>
    </thead>
